@mixin light_on($color) {
  background: $color;
  box-shadow: 0px 0px 3px $color;
  -webkit-box-shadow: 0px 0px 3px $color;
}

@mixin box_shadow($x, $y, $z, $color) {
  box-shadow: $x $y $z $color;
  -webkit-box-shadow: $x $y $z $color;
}

@mixin border_radius($val) {
  border-radius: $val;
  -webkit-border-radius: $val;
}

@mixin text_shadow($x, $y, $z, $color) {
  text-shadow: $x $y $z $color;
  -webkit-text-shadow: $x $y $z $color;
}

@mixin appearance_none {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
}

@mixin grid_space_vertical($val) {
  display: grid;
  grid-gap: $val;
}

.flex_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
