.loading {
  animation-name: loading;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  25% {
    opaacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
